@media (min-width: 1024px){
    footer{
        height: 175px;
    }

    #structure-web-app .menù-left{
        width: 450px;
        padding: 0 20px;
    }

    #structure-web-app .list-names{
        display: inline;
    }

    #structure-web-app .logo-small{
        display: none;
    }

    #structure-web-app .logo-big{
        display: block;
        max-width: 370px;
        padding-top: 20px;
        margin-bottom: 60px;
    }

    #structure-web-app .icon-list img{
        max-width: 60px;
    }

    #structure-web-app .download-app{
        max-width: 55px;
    }

    #structure-web-app .user-profile a{
        width: 65px;
        height: 65px;
    }

    #structure-web-app .icon-list a{
        display: flex;
        align-items: center;
        gap: 20px;
        color: #969696;
        font-size: 1.2em;
    }

    #structure-web-app .icon-list{
        margin-bottom: 75px;
    }

    #structure-web-app #playlist-name{
        text-transform: uppercase;
        font-size: 1.5em;
        color: #fafafa;
        margin-bottom: 30px;
    }

    #structure-web-app .fa-plus{
        width: 85px;
        height: 90px;
        font-size: 1.3em;
        font-weight: bold;
        background-color: #858585;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #structure-web-app .create-playlist{
        font-size: 1.3em;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 50px;
        color: #959595;
    }

    #structure-web-app .create-playlist span{
        display: block;
    }



}