
/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    width: 100%;
}


/* Common */

body{
    height: 100vh;
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
    display: block;
}

ul{
    list-style-type: none;
}

footer{

   height: 90px;
   background-color: #282828;
}

#structure-web-app{
    height: calc(100% - 90px);
    background-color: #151922;
    /* display: flex; */
}


/* menù-left */

#structure-web-app .menù-left{
    background-color: #010101;
    height: 100%;
    width: 60px;
    padding: 13px 0;
}

#structure-web-app .logo-small{
    margin-bottom: 30px;
    padding: 0 13px;
}

#structure-web-app .icon-list img{
    opacity: 50%;
}

#structure-web-app .icon-list a{
    padding: 0 13px;
    margin-bottom: 15px;
}

#structure-web-app .icon-list img{
    max-width: 30px;
}

#structure-web-app .list-names{
    display: none;
}

#structure-web-app .user-options{
    padding: 0 13px;
    
}

#structure-web-app .download-app{
    margin-bottom: 15px;
}


#structure-web-app .playlist{
    color: #858585;
}

#structure-web-app .download-app{
    opacity: 50%;
    max-width: 30px;
}


#structure-web-app .user-profile a{
    width: 30px;
    height: 30px;
    background-color: #656565;
    border-radius: 50%;
    background-image: url(/img/profile.svg);
    background-size: cover;
    
}


