@media screen and (min-width: 768px) {
    
    footer {
        padding: 10px 20px;
    }    
    
    
    /* lista album */

    #structure-main .album-list {
        justify-content: initial;

    }

    #structure-main .bands-list {
        width: calc((100% - 36px) / 4);
    }

    #structure-main .circle-image {
        height: 160px;
        width: 160px;
    }


    /* menù a sinistra footer */

    footer .icons-shortcut {
        margin-left: 15px;
    }

    footer .icons-shortcut i{
        display: inline-block;
        padding: 0 5px;
    }


    /* barra di scorrimento */

    footer .long-bar {
        width: 250px;
    }

    footer .short-bar {
        width: 50px;
    }

    footer .long-bar-2 {
        width: 120px;
    }

    footer .short-bar-2 {
        width: 25px;
    }

}