@media screen and (min-width: 992px) {
    /* lista album */

    #structure-main .bands-list {
        width: ((100% - 60px) / 6);
    }

    #structure-main .circle-image {
        height: 240px;
        width: 240px;
    }

    /* barra di scorrimento */

    footer .long-bar {
        width: 450px;
    }

    footer .short-bar {
        width: 90px;
    }

}